﻿@model MovieSearch.Web.Models.TitleSearchModel
@if (Model.TitleList != null)
{
    if(Model.TitleList.Count() > 0)
    {
    foreach (var Title in Model.TitleList)
    {
        <tr>
            <td>@Title.TitleName</td>
            <td>@Title.OtherNames.FirstOrDefault(x => x.TitleId == Title.TitleId).TitleNameType</td>
            <td>@Title.ReleaseYear</td>
            <td>@Title.ProcessedDateTimeUTC</td>
            <td>@Html.ActionLink("Award", "Awards", new { id = Title.TitleId }, new { @class = "linkClass", target = "_blank" })</td>
            <td>@Html.ActionLink("OtherNames", "OtherNames", new { id = Title.TitleId }, new { @class = "linkClass", target = "_blank" })</td>
            <td>@Html.ActionLink("StoryLines", "StoryLines", new { id = Title.TitleId }, new { target = "_blank" })</td>
            <td>@Html.ActionLink("TitleGenres", "TitleGenres", new { id = Title.TitleId }, new { target = "_blank" })</td>
            <td>@Html.ActionLink("TitleParticipants", "TitleParticipants", new { id = Title.TitleId }, new { target = "_blank" })</td>
        </tr>
    }  
    }
    else
    {
       <p>No result(s) found for the search criteria provided.</p> 
    }
}



