﻿@model IEnumerable<MovieSearch.Common.Entities.AwardModel>

@{
    ViewBag.Title = "Awards";
}

<h2>Awards</h2>

@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AwardWon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AwardYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Award1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AwardCompany)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwardWon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwardYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Award1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwardCompany)
                    </td>
                </tr>
            }

        </table>
    </div>
}
else
{
    <p>No results found.</p>
}