﻿@model IEnumerable<MovieSearch.Common.Entities.OtherNameModel>

@{
    ViewBag.Title = "OtherNames";
}

<h2>OtherNames</h2>

@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleNameLanguage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleNameType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleNameSortable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleNameLanguage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleNameType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleNameSortable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleName)
                    </td>
                </tr>
            }

        </table>
    </div>
}
else
{
    <p>No results found.</p>
}