﻿@model MovieSearch.Web.Models.TitleSearchModel
@{
    ViewBag.Title = "Search";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("TitleListPartialView"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    };
}

@using (Ajax.BeginForm("TitleListPartialView", ajaxOpts))
{
    <p>
        @Html.LabelFor(m => m.SearchByContent)
        @Html.EditorFor(m => m.SearchByContent)        
        @Html.LabelFor(m => m.GenreList)
        @Html.DropDownListFor(m => m.GenreList, Model.GenreList.Select(x => new SelectListItem { Text = x.Name, Value = x.Name }))        
        <input type="submit" value="Search" id="searchFormSubmit" style="margin-left:5em" />
    </p>
}
<div id="loading" class="load" style="display:none">
    <p>Loading Data....</p>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>TitleName</th>
                <th>TitleType</th>
                <th>ReleaseYear</th>
                <th>ProcessedDateTimeUTC</th>
                <th>Awards</th>
                <th>OtherNames</th>
                <th>StoryLines</th>
                <th>TitleGenres</th>
                <th>TitleParticipants</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @Html.Action("TitleListPartialView", new { searchByContent = Model.SearchByContent, GenreList = Model.GenreList })
        </tbody>
    </table>
</div>




