﻿@model IEnumerable<MovieSearch.Common.Entities.TitleParticipantModel>

@{
    ViewBag.Title = "TitleParticipants";
}

<h2>TitleParticipants</h2>

@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParticipantId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsOnScreen)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParticipantId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsOnScreen)
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>No results found.</p>
}

