﻿@model IEnumerable<MovieSearch.Common.Entities.TitleGenreModel>

@{
    ViewBag.Title = "TitleGenres";
}

<h2>TitleGenres</h2>

@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre.Name)
                    </td>
                    <td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>No results found.</p>
}
